.idea/
*.csproj
*.sln
Library/
Temp/
obj/
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins.meta
Assets/Plugins/Editor.meta
